<h2 class="cart-title">Carrinho</h2>
<div>
    <ul>
        <li *ngFor="let item of itensCarrinho">
            <img [src]="item.imagem" alt>
            <p>{{ item.descricao }}</p>
            <p>Preço: {{ item.preco | currency: 'BRL'}}</p>
            <label>
                Quantidade:
                <input type="number" [(ngModel)]="item.quantidade">
            </label>
            <button class="remove-button" (click)="carrinhoService.removerProdutoCarrinho(item.id)"><i class="fa-solid fa-x"></i></button>
        </li>
    </ul>
    <h2 class="cart-total">Total: R$ 2300</h2>
    <button class="buy-button">Comprar</button>
</div>